* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    margin-top: 100px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/* cabeçalho */

header {
    align-items: center;
    display: flex;
    margin-bottom: 40px;
}

header img {
    height: 40px;
    margin-right: 16px;
}

/*inputs e button*/

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

form input {
    border: none;
    border-bottom: 1px solid #000;
    font-size: 24px;
}

form button {
    background-color: rgb(76, 178, 76);
    color: white;
    border: none;
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
}

/* tabela da media */

table {
    width: 100%;
    text-align: center;
}

table th {
    font-size: 24px;
    border-bottom: 2px solid black;
    padding: 20px;
}

table td {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table td img {
    height: 30px;
}

table tbody td {
    padding: 20px;
}

.aprovado {
    background: green;
}

.reprovado {
    background: red;
}